<div class="wrapper">
    <% if flash[:alert] %>
        <p id="notice"><%= flash[:alert] %></p>
    <% end %>
    
    <% if notice %>
        <p id="notice"><%= notice %></p>
    <% end %>
    <%= form_tag '/login' do %>
        <fieldset class="login-field">
            <legend>Log In</legend>
            <table id="user-create">
            <tbody>
                <tr>
                    <td>
                        <label for="name">UserName</label>
                    </td>
                    <td>
                        <%= text_field_tag :name, params[:name] %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password</label>
                    </td>
                    <td>
                        <%= password_field_tag :password, params[:password] %>
                    </td>
                </tr>
            </tbody>
        </table>
        </br>
        <div>
            <div class="make-left">
                <%= submit_tag "Login" %>
            </div>
            <div class="make-right">
                <%= link_to '<button type="button">New User</button>'.html_safe, new_path %>
            </div>
        </div>
        </fieldset>
    <% end %>  
</div>