<div class="wrapper container">
    <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: </h2>
                <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
  
        <fieldset class="user-field">
        <legend>Thông tin người dùng</legend>

        
        <table id="user-create">
            <tbody>
                <tr>
                    <td>
                        <%= f.label :name, 'UserName:' %> 
                    </td>
                    <td>
                        <%= f.text_field :name %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= f.label :password, 'Password:' %>
                    </td>
                    <td>
                        <%= f.password_field :password %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= f.label :password_confirmation, 'Confirm:' %>
                    </td>
                    <td>
                        <%= f.password_field :password_confirmation %>
                    </td>
                </tr>
            </tbody>
        </table>

        </br>
        <div>
        <div class="button make-right">
            <%= f.submit "Tạo người dùng mới"%>
        </div> 
        <% if @username != nil && @username != '' %>
        <div class="button make-left">
            <%= link_to '<button type="button">Danh sách người dùng</button>'.html_safe, users_path %>
        </div>
        <%end%>
        </div>
        </fieldset>
    <% end %>
</div>