
<div class="container wrapper" >
    <h1>Danh sách người dùng</h1>

    <div>
        <table id="user-table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Action</th>
                    <th>Role</th>
                </tr>
            </thead>

            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= link_to 'Hiển thị', user %>
                        </td>
                        <td>
                            <%if user.isadmin == 1%>
                                Admin
                                <%else%>
                                    Member
                                    <%end%>
                        </td>
                    </tr>
                    <% end %>
            </tbody>
        </table>

        <br>
        <div class="link">
        <span>
        <%= link_to '<button type="button">Trang chủ</button>'.html_safe, products_path %>
        <%= link_to '<button type="button">Tạo người dùng mới</button>'.html_safe, new_user_path %>
        <%= link_to '<button type="button">Đăng xuất</button>'.html_safe, login_url %>
        </span>
        </div>
    </div>
</div>