<div id="product-content" class="container wrapper">
<%= form_with(model: product, local: true) do |form| %>
  <% if (product.image_url != nil
  ) %>
  <%= image_tag(product.image_url,class:"img-overlay", id:"content-img") %>
  <% else %>
  <%= image_tag("no-thumbnail.jpg" ,class:"img-overlay", id:"content-img") %>
  <% end %>
  <div id = "content-detail">
    <div class="product-field">
      <%= form.label :"Tên sản phẩm" %>
      <%= form.text_field :title %>
    </div>

    <div class="product-field">
      <%= form.label :"Mô tả sản phẩm" %>
      <%= form.text_area :description, :rows => 6, :cols => 80 %>
    </div>

    <div class="product-field">
      <%= form.label :"Giá sản phẩm" %>
      <%= form.text_field :price%>
    </div>
    
    <div class="product-field">
      <%= form.label :"Đường dẫn hình ảnh đại diện" %>
      <form action="/action_page.php">
        <input id="img_url" type="file" name="pic" accept="image/*" oninput="myFunction(event)">
      </form>
      <%= form.text_field :image_url %>
    </div>

    </br>
    <div class="link">
      <%= form.submit "Lưu thông tin sản phẩm" %>
      <%= link_to '<button type="button">Trở về trang chủ</button>'.html_safe, products_path %>
    </div>
  </div>
  
<% end %>
</div>
