<div id="content" class="wrapper">
    <div id="content-top">
    <ul>
        <li class="tab selected">
            <%= link_to new_product_path, class:"img-thumb-deal product-upload tab-item" do %>
                Thêm sản phẩm mới
            <% end %>
        </li>
        <%if session[:user_admin] != nil && session[:user_admin] != ''%>
        <li class="tab selected">
                <%= link_to users_path, class:"img-thumb-deal product-upload tab-item" do %>
                    Quản lý người dùng
                <% end %>
        </li>
        <% end %>
    </ul>
    </div>
    <div id="content-main">
    <ul>
        <% @products.each do |product| %>
        <div class="tab-main" title=<%= product.title %>>
            <%# <div class="tab-main"> %>
                <div class="wrap-imgdesc">
                    <%= link_to edit_product_path(product), class:"img-thumb-deal" do %>
                        <% if (product.image_url != "") %>
                        <%= image_tag(product.image_url,class:"img-overlay") %>
                        <% else %>
                        <%= image_tag("no-thumbnail.jpg" ,class:"img-overlay") %>
                        <% end %>
                        <% end %>
                    <div class="discount-lbl">
                        <i class="icon iDiscount_mc"></i>
                        <span>-45<span class="unit-discount">%</span></span>
                    </div>
                </div>
                <div class="grp-bottom-content">
                    <div class="grp-name-price">
                        <h3 class="deal-name">
                            <%= link_to edit_product_path(product), class:"deal-name-val" do %>
                                <%= product.description %>
                            <% end %>
                        </h3>
                <div class="bottom-info">
                    <div class="deal-price">
                        <span class="sell-val"><%= product.price %><span class="unit">đ</span></span>
                        <span class="shop-p-val"><%= product.price*10 %><span class="unit">đ</span></span>
                    </div>
                    <div class="deal-buyer-counter clearfix">
                        <span class="make-left">Deal mới lên</span>
                    </div>
                    <%= link_to edit_product_path(product), class:"btn-go-detail" do %>
                        <i class="icon iDetail"></i>
                <% end %>
                </div>
            <%# </div> %>
        </div>
</div>
</div>
<% end %>
</ul>
</div>
</div>                                                                                      
